name: flutter_demo
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  qr_flutter: ^4.1.0
  http: ^0.13.6
  cupertino_icons: ^1.0.8
  smooth_page_indicator: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  # Assets
  assets:
    - lib/components/icons/


  # Fonts
  fonts:
    - family: Poppins
      fonts:
        - asset: lib/components/fonts/Poppins-Bold.ttf
        - asset: lib/components/fonts/Poppins-Regular.ttf
